<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new"><button>New Post</button></a>
    <ul>
      <% messages.forEach(function (message) { %>
        <li><%= message.user %></li>
        <li><%= message.text %></li>
        <li><%= message.added %></li>
      <% }) %>
    </ul>

  </body>
</html>
